*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppin","san-serif";
}
body{
    background: #112A46;
}
.app{
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    background: #fff;
}
.app h1{
    color: #041838;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #041838;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    border: 1px solid #222;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #041838;
    font-weight: 500;
    color: white;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}

.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}